<ion-view view-title="Forgot Password">
    <ion-content>
        <form name="myForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="user.username" ng-minlength="5" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="user.email" required>
                </label>
            </div>
            <div class="padding">
                <p ng-show="myForm.username.$error.required">* Username is required</p>
                <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
                <p ng-show="myForm.email.$error.required">* Email is required</p>
                <p ng-show="myForm.email.$invalid && !myForm.email.$pristine">* Must be an email address</p>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="vm.resetPassword(user)">
                    Reset Password
                </button>
                <p class="text-center">
                    Return to <a href="#/sign-in">Sign-In</a>.
                </p>
            </div>
        </form>
    </ion-content>
</ion-view>
